.card {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 98%;
  border-radius: 10px;
  background-color: #7ed6df;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: #18486b;
  transition: 0.2s;
  cursor: pointer;
}
.card:hover {
  background-color: #3f87a0;
  transform: scale(1.02);
  color: white;
}
.main {
  width: 48%;
  margin: 5px;
}
.thumbnail {
  min-width: 120px;
  height: 66px;
  overflow: hidden;
  margin: 0.5rem;
}
.thumbnail img {
  transform: translate(0, -12px);
  height: 90px;
}
.title {
  overflow: hidden;
  max-height: 60px;
  font-weight: 600;
  font-size: 1.5rem;
}
.channel {
  padding: 2px;
  font-weight: 400;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
