.video {
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
  align-self: center;
  width: 80%;
}
.show {
  margin: 10px 0;
}
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
  .show {
    align-self: center;
  }
  .list {
    margin-top: -15px;
    align-self: center;
    width: 590px;
  }
}
