.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 6vh;
  max-height: 6vh;

  background-color: #7ed6df;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.logoGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  text-decoration: none;
  color: #18486b;
  font-weight: 600;
  transition: 0.2s;
}
.logoGroup:hover {
  transform: scale(1.02);
  color: white;
}
.logoGroup img {
  width: 2rem;
}
.logoGroup span {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  position: relative;
}
.searchBar input {
  width: 20rem;
  height: 1.8rem;
  background-color: #5caebf;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  outline: none;
  transition: 0.1s;
  color: #fff;
}
.searchBar input:focus {
  background-color: #3f87a0;
}
.searchBar button {
  height: 1.8rem;
  position: absolute;
  right: 1.2rem;
  background: transparent;
  outline: none;
  border: none;
}
.searchBar img {
  height: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .searchBar input {
    width: 80%;
  }
}
